.newMovies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.newMovies {
  justify-content: flex-start;
}
.newMovies a {
  /* width: 100%; */
  /* display: block; */
  
  width: 32.5%;
  /* margin-bottom: 30px; */
  margin-right: .8%;
}

@media(min-width: 576px) {
  
  .newMovies a {
    width: 32.5%;
    margin-right: .8%;
  }
}

@media(min-width: 768px) {
  .newMovies a {
    width: 24.0%;
    margin-right: .8%;
  }
}

@media(min-width: 992px) {
  .newMovies a {
    width: 16%;
    margin-right: .6%;
  }
}

.movieLink {

  position: relative;

  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
  
}
.movieLink img {
  border-radius: 3px;
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
 
}
a.movieLink::before {
  content: "";
  background: rgba(0,0,0,.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;

}
a.movieLink:hover::before {
  opacity: .8;
}
a.movieLink::after {
  content: "";
  background-image: url('/btn-overlay-orange.png');
    width: 55px;
    height: 55px;
   
    background-position: 50% 25%;
    background-size: cover;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -27.5px;
    margin-left: -27.5px;  
}
a.movieLink:hover::after {
  opacity: 1;
 }

.movieInfo {
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute; */
  top: 0;
  /* text-align: center;
  padding: 0 10px;
  width: 100%;
  height: 100%; */
  /* background-color: #263238; */
  color: #1DE9B6;
  /* opacity: 0; */
  /* visibility: hidden; */
}

.movieLink:hover .movieInfo {
  background-color:black; 
  opacity: .7;
  visibility: visible;
}
.movieInfo h3 {

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 10px;
  background: url(/mask-title.png) top repeat-x;
  z-index: 5;
  font-size: 13px;
  color: white;
  font-weight: normal;
  text-align: center
}

.moviePlay {
  /* visibility: hidden; */
  /* background-image: url('../btn-overlay-orange.png');  */
}
.movieLink:hover .moviePlay {
  /* visibility: visible; */
}

